<%-include('../partials/head') %>
 <link rel="stylesheet" href="/home.css">
    </head>
<body>
    <header>
        <%-include('../partials/nav') %>
    </header>
    <main>
        <h1>Here our Registered Homes: </h1>
        <ul>
            <%registerHomes.forEach(home=>{ %>
                <li>
                    <img  class="new-image"  src="<%=home.photo %>"  width="1000"/>
                </li>
                <li>
                    <%=home.homeName %>
                </li>
                 <li>
                    <%=home.price %>
                </li>
                 <li>
                    <%=home.location %>
                </li>
                 <li>
                    <a href="/host/edit-home/<%=home._id%>?editing=true">Edit</a>
                </li>
                <li>
                    <form action="/host/delete-home/<%=home._id%>" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
                 
            <%}) %>
        </ul>
    </main>
    
    
</body>
</html>